<% include partials/header %>
<h1>This is the homepage!</h1>
<img src="https://www.rightthisminute.com/sites/default/files/videos/images/norman-pomsky-pets-instgram-video.jpg">
<% include partials/footer %>